
<div id="greeting">
<% if @location %>
  I see that you are in <%= @location[7].blank? ? 'foo' : @location[7] %>, <%= @location[6] %>
<% else %>
   I have no idea  where you are ...
<% end %>
</div>

<a href="/events" > See Events Near You</a>

<%= render(:partial => "search_box", :object => params[:search_term]) %>
<h1>Listing all groups</h1>
<%= link_to 'Order by Name',   {:search_term => params[:search_term],:order=>'name' } %>
<%= render(:partial => "group_item_display", :object => @groups) %>








